In [1]:
import pandas as pd 
import numpy as np

## Q2

In [2]:
dataB = pd.read_csv('Dataset/DataB.csv')

In [3]:
dataB

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
dataB.isna().sum()

sepallength    0
sepalwidth     0
petallength    0
petalwidth     0
class          0
dtype: int64

In [5]:
dataB_X = dataB.drop(['class'], axis=1)

In [6]:
dataB_X

     sepallength  sepalwidth  petallength  petalwidth
0            5.1         3.5          1.4         0.2
1            4.9         3.0          1.4         0.2
2            4.7         3.2          1.3         0.2
3            4.6         3.1          1.5         0.2
4            5.0         3.6          1.4         0.2
..           ...         ...          ...         ...
145          6.7         3.0          5.2         2.3
146          6.3         2.5          5.0         1.9
147          6.5         3.0          5.2         2.0
148          6.2         3.4          5.4         2.3
149          5.9         3.0          5.1         1.8

[150 rows x 4 columns]

In [7]:
dataB_y = dataB['class']

In [8]:
dataB_y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: class, Length: 150, dtype: object

In [9]:
dataB_y.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [12]:
from scipy.io import loadmat

In [13]:
dataA = loadmat('Dataset/DataA.mat')

In [17]:
dataA

{'__header__': b'MATLAB 5.0 MAT-file, Platform: PCWIN64, Created on: Tue Oct 21 15:46:48 2014',
 '__version__': '1.0',
 '__globals__': [],
 'fea': array([[1, 2, 1, ..., 2, 2, 1],
        [3, 3, 4, ..., 1, 3, 4],
        [4, 1, 4, ..., 2, 4, 4],
        ...,
        [3, 4, 4, ..., 3, 1, 2],
        [1, 4, 3, ..., 4, 3, 4],
        [4, 3, 1, ..., 2, 4, 3]], dtype=uint8),
 'gnd': array([[1],
        [1],
        [1],
        ...,
        [1],
        [1],
        [1]], dtype=int16)}

In [18]:
dataA_dataframe = pd.DataFrame(np.hstack((dataA['fea'], dataA['gnd'])))

In [29]:
dataA_dataframe

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,1,2,1,2,1,2,3,3,3,3,...,3,2,3,4,2,2,2,2,1,1
1,3,3,4,2,1,2,2,4,3,2,...,1,4,3,4,4,4,1,3,4,1
2,4,1,4,4,4,4,1,1,2,1,...,1,2,1,1,4,2,2,4,4,1
3,1,4,1,1,3,3,4,4,3,4,...,1,3,3,4,1,3,3,4,2,-1
4,3,4,4,3,1,1,4,4,4,1,...,3,1,3,2,1,4,2,1,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,3,3,3,4,2,2,3,3,4,4,...,1,4,3,3,4,1,2,1,3,-1
2196,3,3,1,1,2,3,3,4,3,1,...,2,1,3,1,2,3,4,2,3,-1
2197,3,4,4,3,3,3,1,2,4,3,...,4,3,3,4,1,2,3,1,2,1
2198,1,4,3,4,1,3,4,2,4,3,...,2,4,2,2,2,4,4,3,4,1
2199,4,3,1,2,2,3,3,3,3,4,...,4,3,3,4,3,4,2,4,3,1